[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "==2.2.7"
openpyxl = "*"
pillow = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-extensions = "*"
requests = "*"
folium = "*"

[scripts]
rmdb = "rm -rf db.sqlite3 api/migrations"
createdb = "bash -c 'python manage.py makemigrations api; python manage.py migrate'"
loaddb = "python manage.py loaddb"
super = "python manage.py createsuperuser"
server = "python manage.py runserver"

[requires]
python_version = "3.8"
